# Terraform files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars

# SSH Keys (Crucial!)
mykey
mykey.pub
*.pem

# Installed Tools (The "Junk" files)
aws/
awscliv2.zip
terraform
ansible/bin/

# OS/Misc
.DS_Store
*.retry
